doctype html
html(lang="en")
  include ../includes/head.pug
  script(defer src= '../../public/js/pages/admin/rentals.js')
  title Admin Rental - #{judul}
  body
    include ../includes/header.pug
    main
      .container
        h2.center Rental Admin
        table.highlight.striped
          thead
            tr
              th Rental
              th Pembayaran
              th Status
              th Tgl Kembali
              th Hapus
          tbody#rental-body
        br
        .center
          a(href="/admin") Kembali ke Menu
      script.
        let upLevel = "#{upPageLevel}";

        
        
