//nanti masukin pesanan APIs
each key,val in {a:1,b:2,c:3}
  li.collection-item
    p(style="font-weight: bold;") !{key} : !{val} ------- nanti di AJAX atau template
    p#pesanan(style="float:left;width:50%;") 


