<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Sewa Kapal
    //- link(href="../res/css/materialize.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/materialize.css")
    

  body
    form(action="atur sini jos", method="post")
      input#(type="file", name="gambar")
      input#(type="text", name="Nama Kapal")
      input#(type="text", name="namaYangDitampilkan") asdasdasdasd