doctype html
html(lang="en")
  include ../includes/head.pug
  title Sewa Kapal
  body
    include ../includes/header.pug 

    h4.center Akun Saya
    br
    ul.collection.container.z-depth-4
      li.collection-item
        p(style="float:left;width: 10%;min-width: 50px; margin-right: 1em")  Nama 
        p#nama -
      li.collection-item
        p(style="float:left;width: 10%;min-width: 50px; margin-right: 1em")  Telepon 
        p#telpon -
      li.collection-item
        p(style="float:left;width: 10%;min-width: 50px; margin-right: 1em")  E-Mail 
        p#email -
      li.collection-item
        p(style="float:left;width: 10%;min-width: 50px; margin-right: 1em")  Alamat 
        p#alamat -
      
    br
    h4.center Pesanan Saya
    br
    ul.collection.container.z-depth-4
      include ../includes/pesanan
    br
    .center
      button.waves-effect.waves-light.btn( class= `${colorTheme}`)#logout logout
    br
    include ../includes/footer.pug
    include ../includes/loginmodal.pug
    include ../includes/script.pug   
    script.
      function loadUser(){
        document.getElementById('nama').firstChild.textContent = userData.name;
        document.getElementById('telpon').firstChild.textContent = userData.phone;
        document.getElementById('email').firstChild.textContent = userData.email;
        document.getElementById('alamat').firstChild.textContent = userData.address;
        };
        addLoadEvent(loadUser);

        let btnLogout = document.getElementById('logout')
        btnLogout.addEventListener("click",function(){
          window.location.replace('api/auth/logout');
          });

        

      
