doctype html
html(lang="en")
  include ../includes/head.pug
  include ../includes/loginmodal.pug
  include ../includes/script.pug
  title Sewa Kapal
  body
    include ../includes/header.pug 
    main
      h4.center Detail Rental   
      br
      ul.collection.container.z-depth-4
        li.collection-item
          p(style="font-weight: bold;float:left;width: 15%;min-width: 48px; margin-right: 1em")  Customer 
          p#customer -
        li.collection-item
          p(style="font-weight: bold;float:left;width: 15%;min-width: 48px; margin-right: 1em")  Telpon 
          p#phone -
        li.collection-item
          p(style="font-weight: bold;float:left;width: 15%;min-width: 48px; margin-right: 1em")  Alamat Kirim 
          p#alamat -      
        li.collection-item
          p(style="font-weight: bold;float:left;width: 15%;min-width: 48px; margin-right: 1em")  Kapal 
          p
            a(href="#")#kapal -
        li.collection-item
          p(style="font-weight: bold;float:left;width: 15%;min-width: 48px; margin-right: 1em")  Tenggal Kembali 
          p#pengembalian -
        li.collection-item
          p(style="font-weight: bold;float:left;width: 15%;min-width: 48px; margin-right: 1em")  Biaya 
          p#biaya -
        li.collection-item
          p(style="font-weight: bold;float:left;width: 15%;min-width: 48px; margin-right: 1em")  Waktu bayar 
          p#bayar -      
      br
      br
      .center
        a.waves-effect.waves-light.btn(href="../" class= `${colorTheme}`) Akun saya
      br
    include ../includes/footer.pug   
    script.
      let rentData = null;
      function getRent(rentId){
        let rentHttpReq = new XMLHttpRequest();
        rentHttpReq.open('GET', '/api/rentals/'+rentId);
        rentHttpReq.onload = function() {
          rentData = JSON.parse(rentHttpReq.responseText);
          console.log(rentHttpReq.responseText)
      }
      rentHttpReq.send();
      }
      console.log('rental ID: #{myRentId}')
      getRent(`#{myRentId}`);

      // Set the date we're counting down to
      let countDownDate = new Date().getTime();
      // Update the count down every 1 second
      let x = setInterval(function() {
      // Get todays date and time
      const now = new Date().getTime();     
      // Find the distance between now and the count down date
      let distance = countDownDate - now;         
      // Time calculations for days, hours, minutes and seconds
      let days = Math.floor(distance / (1000 * 60 * 60 * 24));
      let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      let seconds = Math.floor((distance % (1000 * 60)) / 1000);        
      // Output the result in an element with id="demo"
      document.getElementById("bayar").firstChild.textContent = (rentData.isPaid? 'Sudah dibayar':days + "d " + hours + "h " + minutes + "m " + seconds + "s ");        
      // If the count down is over, write some text 
      if (distance < 0) {
          clearInterval(x);
          document.getElementById("bayar").firstChild.textContent = "Waktu bayar habis";
        }
      }, 1000);

      function loadRent(){

        document.getElementById('customer').firstChild.textContent = rentData.customer.name;
        document.getElementById('alamat').firstChild.textContent = rentData.customer.deliveryLocation;
        document.getElementById('biaya').firstChild.textContent = currFormat(rentData.rentalFee)+(rentData.isPaid?'  (Lunas)':'  (Belum dibayar)');
        document.getElementById('kapal').firstChild.textContent = rentData.ship.name;
        document.getElementById("kapal").href = "../../categories/"+rentData.ship._id;
        document.getElementById('phone').firstChild.textContent = rentData.customer.phone;
        document.getElementById('pengembalian').firstChild.textContent = rentData.dateReturned.slice(0,-14);
        countDownDate = new Date(rentData.dateOut).getTime() + 86400000;
        };
      addLoadEvent(loadRent)


        

      
