doctype html
html(lang="en")
  include ../includes/head.pug
  include ../includes/loginmodal.pug
  include ../includes/script.pug   
  title About
  body
    include ../includes/header.pug  

    main
      .parallax-container.valign-wrapper(style="height:200px;")
        .container
          .section.no-pad-bot
            .row.left
              h2.header.col.s12.offset-s2.light.white-text(style="text-shadow: 0px 3px 1px #0000002e;") Tentang Kami
        .parallax
          img.responsive-img(src='public/img/site/bg-main5.jpg' alt='Background Image 2')
    .container
        p Seperti yang di ketahui bahwa Indonesia merupakan negara kepulauan terbesar di dunia. Indonesia secara geografis merupakan sebuah negara kepulauan dengan pertiga luas lautan lebih besar dari pada daratan. Kekuatan ini lah yang merupakan potensi besar untuk memajukan perekonomian Indonesia di destinasi kelautan di negara ini.
        p Selain perbaikan dan perhatian khusus yang di berikan dalam bidang teknologi untuk mengolah sumber daya alam di laut Indonesia, di perlukan juga sebuah pengembangan pelabuhan dan trasportasi laut untuk mendorong kegiatan maritime Indonesia menjadi modern dan mudah digunakan oleh masyarakat.
        p Website #{judul} ini dibuat untuk membantu mempermudah dan memperlancar proses penyewaan kapal di Indonesia yang sangat jarang di temui, sehingga mencetuskan lahirnya ide tentang penyewaan kapal ini dengan memanfaatkan media internet.
        br
        .row
          .col.s3
            p Kontak kami di:
            p Jl. Pasoso No.1, Tanjung Priuk, Jakarta Utara, 14310
    include ../includes/footer.pug
