doctype html
html(lang="en")
  include ../includes/head.pug
  title About
  body
    include ../includes/header.pug  

    main
      .container
        p We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
        p Lorem ipsum dolor sit amet, in homero percipit postulant vim, cu commodo eripuit facilis vix. Te his magna maiorum vituperata. Id audire sententiae mei, eum erat splendide reprehendunt no. Vis ad hinc apeirian complectitur, tempor vivendo ut nam. Quis expetendis no cum, ad pri nihil salutandi. Eos id oratio urbanitas constituam. Ius perfecto pertinacia id, no pro iuvaret quaerendum. Eligendi signiferumque nec et. Cum in malis summo appellantur, ei porro omittantur mei, cu diam dicant propriae mei.  Pri ei scripta consulatu. Aeterno aliquip propriae te duo. An qui deleniti molestiae adipiscing. Qui id recteque partiendo euripidis, vel ferri dolorem scriptorem ad. Amet eligendi comprehensam at eum, propriae consetetur ad qui. No stet omittantur has, nam sint disputationi eu, ad eruditi facilisis mediocritatem vis. Ad definiebas inciderint vel. No duo nostro dictas fierent, placerat sadipscing vel ea, timeam iisque vituperatoribus eum ne. Nam veritus delicata ad, ut usu sumo periculis. Purto illud dicta no per, ad est veniam necessitatibus. Id novum verear postulant pri, duo ei simul praesent. Eos veniam dissentias definitionem eu. Cum ne amet sale. Dictas virtute signiferumque quo ut, ne nec forensibus neglegentur. Mei vide possim aeterno te. Eos id ludus mucius insolens, est integre virtute eripuit id, ut omnis mnesarchum ius. Ius audiam aperiri no, ipsum graeci imperdiet ei eum, per quod detraxit recusabo an. Nominavi appellantur ea duo, labore doctus alterum vel te. Mel brute referrentur eu, nec cu diceret platonem, ex iisque iracundia per.







    include ../includes/footer.pug
    include ../includes/loginmodal.pug
    include ../includes/script.pug   
