doctype html
html(lang="en")
  include ../includes/head.pug
  include ../includes/loginmodal.pug
  include ../includes/script.pug
  script(defer src= 'public/js/shipInit.js')
  title Sewa Kapal
  body
    include ../includes/header.pug
    .container
      .section
        .row#row

    main
    include ../includes/footer.pug
