doctype html
html(lang="en")
  include ../includes/head.pug
  title Sewa Kapal
  body
    include ../includes/header.pug
            
    #index-banner.parallax-container     
      .section.no-pad-bot
        .container
          br
          br
          h1.header.center.white-text.text-lighten-2=judul
          .row.center
            h5.header.col.s12.light.white-text.text-lighten-2 "Petualangan tanpa batas di hamparan samudera"
          .row.center
            a#download-button.btn-large.waves-effect.waves-light.lighten-1(href=kategoriKapal class= `${colorTheme}`) mulai
      .parallax
        img(src='public/img/site/bg-main.jpg' alt='Background Image' style="width: 100%;object-fit: cover;")
    .container
          .section

    include ../includes/footer.pug
    include ../includes/loginmodal.pug
    include ../includes/script.pug   