doctype html
html(lang="en")
  include ../includes/head.pug
    style.
      .textHead{
        font-weight: bold;
        width: 23%;
        min-width: 48px; 
        max-width: 10%; 
        margin-right: 1em;
        margin-left: 1em;
      }
      .textValue{
        
      }
      td{
        padding: 1px 5px;
      }
      .centerImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .pemisahLine{
        padding : 1em 5px;
      }
  title Sewa Kapal
  body
    include ../includes/header.pug

    form(action="/ships/", method="post")
    .container.z-depth-2
      .pemisahLine
        h4.center#judulPage Detail Kapal
      img.centerImg.z-depth-1.responsive-img#gambar(src="", alt="") 
      .pemisahLine.center#pesanButton
        a.pulse.waves-effect.waves-light.btn.modal-trigger#authStatus(href=authLink class= `${colorTheme}` ) Pesan Sekarang!
      table.striped
        tr  
          td.textHead
            p Status
          td
            p.textValue#available -
        tr  
          td.textHead
            p ID
          td
            p.textValue#_id(style="font-family: monospace") -
        tr  
          td.textHead
            p Nama
          td
            p.textValue#name -
        tr  
          td.textHead
            p Model
          td
            p.textValue#model -
        tr  
          td.textHead
            p Tipe
          td
            p.textValue#type -
        tr  
          td.textHead
            p Harga/Hari
          td
            p.textValue#price -
        tr  
          td.textHead
            p Tanggal Pembuatan
          td
            p.textValue#yearOfManufactured -
        tr  
          td.textHead
            p Panjang Keseluruhan
          td
            p.textValue#lengthOverall -
        tr  
          td.textHead
            p Panjang Beam
          td
            p.textValue#beam -
        tr  
          td.textHead
            p Panjang Draft
          td
            p.textValue#draft -
        tr  
          td.textHead
            p Berat
          td
            p.textValue#displacement -
        tr  
          td.textHead
            p Mesin
          td
            p.textValue#engine -
        tr  
          td.textHead
            p Bahan Bakar
          td
            p.textValue#fuel -
        tr  
          td.textHead
            p Kapasitas Bahan Bakar
          td
            p.textValue#fuelCapacity -
        tr  
          td.textHead
            p Kecepatan Max
          td
            p.textValue#maximumSpeed -
        tr  
          td.textHead
            p Kecepatan Berlayar
          td
            p.textValue#cruisingSpeed -
        tr  
          td.textHead
            p Kabin
          td
            p.textValue#numberOfCabins -
        tr  
          td.textHead
            p Kapasitas Penumpang
          td
            p.textValue#numberOfBerths -

        
      .pemisahLine.center   

      .pemisahLine.center
        a.waves-effect.waves-light.btn.modal-trigger(href="javascript:history.back()" class= `${colorTheme}` ) Kembali

      .pemisahLine
  
    include ../includes/footer.pug
    include ../includes/loginmodal.pug
    include ../includes/script.pug
    script.
      let shipId = "#{shipId}"
      let shipReq = new XMLHttpRequest();
      let shipData = null
      
      function addContent(target,value){
        if (!value){
          document.getElementById(target).firstChild.textContent = '-';
        }
        else document.getElementById(target).firstChild.textContent = value;
      }

      function populateTable(){

        addContent('judulPage',shipData.name);
        document.getElementById('available').firstChild.textContent = (()=>{if (shipData.available) return 'Tersedia';else {
          document.getElementById('pesanButton').firstChild.remove();
          return 'Tidak Tersedia'
        }})();
        addContent('_id',shipData._id);
        addContent('name',shipData.name);
        addContent('model',shipData.model);
        addContent('type','Kapal ukuran '+shipData.type);
        addContent('price',currFormat(shipData.price));
        addContent('yearOfManufactured',shipData.details.yearOfManufactured);
        addContent('lengthOverall',numFormat(shipData.details.lengthOverall,' m' ));
        addContent('beam',numFormat(shipData.details.beam,' m' ));
        addContent('draft',numFormat(shipData.details.draft,' m' ));
        addContent('displacement',numFormat(shipData.details.displacement,' kg' ));
        addContent('engine',shipData.details.engine);
        addContent('fuel',shipData.details.fuel);
        addContent('fuelCapacity',numFormat(shipData.details.fuelCapacity,' ℓ' ));
        addContent('maximumSpeed',numFormat(shipData.details.maximumSpeed,' km/j' ));
        addContent('cruisingSpeed',numFormat(shipData.details.cruisingSpeed,' km/j' ));
        addContent('numberOfCabins',numFormat(shipData.details.numberOfCabins,' kabin' ));
        addContent('numberOfBerths',numFormat(shipData.details.numberOfBerths,' orang' ));
        
        document.getElementById('gambar').src = '../'+shipData.picture
      };

      shipReq.open('GET', '/api/ships/'+shipId);
      shipReq.onload = function() {
        shipData = JSON.parse(shipReq.responseText);
        populateTable();
      }
      shipReq.send();
  
      